@using PR37.Data.ViewModels
@using PR37.Data.Models
@model VMItems
@{
    Layout = "_Layout";
}
@{
    foreach (var item in Model.Items)
    {
            <div class="item">
                <img src="@item.Img" />
                <div class="data">
                    <H3>Модель: @item.Name</H3>
                    <div>Цена: @item.Price.ToString("c")</div>
                    <div>Категория: @item.Category.Name</div>
                    <div>Описание: @item.Description</div>
                </div>
            </div>
    }
}
