@using PR37.Data.Models
@model IEnumerable<Items>
@{
    Layout = "_Layout";
}
<H2>Все предметы</H2>
@{
    foreach (var item in Model)
    {
        <div class="item">
            <img src="@item.Img"/>
            <div class="data">
                <H3>Модель: @item.Name</H3>
                <div>Цена: @item.Price.ToString("c")</div>
                <div>Категория: @item.Category.Name</div>
                <div>Описание: @item.Description</div>
            </div>
        </div>
    }
}
